{{> head }}

  {{> navbar }}

<div class="row">

    <div class="col-6">

      <h1> Historia Escudo de Racing Club de Avellaneda </h1>
      <p>Recién hacia 1929 aparece el emblema señalado oficialmente como el primer escudo de Racing. El distintivo hace referencia a la ciudad de Avellaneda, y al nombre completo: Racing Club, 
        que se ubica fuera del distintivo celeste y blanco a bastones verticales, rodeado de ornamentaciones.</p>

    </div>

    <div class="col-3">

  <img src="assets/img/racing.png" class="img-thumbnail" >

    </div>

      <div class="col-3">

    <img src="assets/img/inter" class="img-thumbnail" >
    <img src="assets/img/equipazo.jpeg" class="img-thumbnail" >
    <img src="assets/img/2020.jpg" class="img-thumbnail" >

    </div>



</div>

{{> footer }}