{{> head }}


    {{> navbar }}


    <div class="jumbotron">
        <h1 class="display-4">Hello, {{capitalizar nombre}}!</h1>
        <p class="lead">Racing Club, conocido como Racing Club de Avellaneda o simplemente Racing, es una entidad deportiva oriunda de Argentina, fundada el 25 de marzo de 1903, ubicada en la Ciudad de Avellaneda, Provincia de Buenos Aires.14​ Si bien su principal actividad deportiva es el fútbol masculino profesional, que milita en la Primera División, también se practican otros deportes profesionales como fútbol femenino, básquet, futsal y hockey, mientras que tenis, boxeo, vóley, handball, judo, patín artístico, aikido, gimnasia artística, taekwondo, muay thai, sipalki-do, fútbol playa, atletismo, natación y saltos ornamentales son deportes amateur.15​16​

Su estadio, llamado Presidente Perón, es el segundo con más aforo del país con una capacidad de más de 60.000 espectadores (habilitado para 53.000) y se ubica sobre las calles Orestes Osmar Corbatta y Mozart, en la Ciudad de Avellaneda en el sur del Gran Buenos Aires.17​

Los colores que identifican a la institución son el celeste y el blanco en honor a los colores patrios de la República Argentina.18​

En la era amateur consiguió nueve campeonatos locales, siete de ellos en forma consecutiva, siendo el primer equipo heptacampeón del mundo, el único equipo argentino en la historia hasta nuestros días y el único de todo el continente (en 1913, 1914, 1915, 1916, 1917, 1918 y 1919);19​ sumados a otros dos torneos más en 1921 y 1925. De estos nueve campeonatos en total, cinco de ellos fueron de forma invicta. También acopió en esa era nueve copas nacionales (5 Copa Dr. Carlos Ibarguren y 4 Copa de Honor), siendo el máximo ganador de ambos certámenes; y tres copas internacionales (2 Copa Aldao y 1 Copa de Honor Cusenier), a raíz de todos estos logros recibió el apodo popular de la «La Academia de Football Nacional», que lo identifica hasta la actualidad.20​

En la era profesional iniciada en 1931, obtuvo otros nueve campeonatos argentinos más: 1949, 1950, 1951, 1958, 1961, 1966, 2001, 2014 y 2019; otras cuatro copas nacionales (Copa Beccar Varela, Copa de Competencia, Copa Británica y el Trofeo de Campeones) y otras tres copas internacionales (Copa Libertadores de América, Copa Intercontinental y Supercopa Sudamericana). En esta era, además, fue el primer equipo argentino en conseguir un tricampeonato local, el primer campeón del mundo argentino, el primer campeón de campeones de América y el primer campeón de campeones de Superliga.21​22​23​24​

Estadísticamente es el cuarto equipo argentino con mayor cantidad de títulos en la historia (37), es el equipo con mayor cantidad de copas nacionales (13), es el tercer equipo con mayor cantidad de campeonatos del fútbol argentino (18) y es el cuarto equipo con mayor cantidad de copas internacionales (6).25​

Uno de sus mayores logros deportivos lo obtuvo el 4 de noviembre de 1967 cuando se consagró campeón de la Copa Intercontinental al derrotar al representante de la Copa de Campeones de Europa: El Celtic Football Club de Escocia, por 1-0 en el Estadio Centenario de Montevideo en un tercer partido por el desempate, de esta forma se convirtió en el primer club argentino en proclamarse campeón del mundo.26​ Gracias a esa importante conquista integra el grupo selecto de los únicos 29 equipos en el mundo que han ganado el máximo campeonato de clubes de fútbol a nivel mundial, entre más de 300 000 clubes reconocidos por FIFA.27​

Es considerado uno de los cinco grandes del fútbol argentino, a partir del momento en que la AFA dispusiera la implementación del llamado "voto proporcional" en 1937, que consistía en darle mayor poder de decisión a aquellos clubes con mayor número de socios, antigüedad, convocatoria y cantidad de títulos.28​

Su clásico rival es el Club Atlético Independiente, con quién disputa el Clásico de Avellaneda. El resto de los equipos considerados grandes (Boca Juniors, River Plate y San Lorenzo de Almagro) también son rivales históricos del club y los partidos que disputa con ellos son considerados igualmente como clásicos.29​

El club cuenta con dos sedes sociales: la principal en Avellaneda y un anexo en el barrio de Villa del Parque, en la Ciudad de Buenos Aires. Además de disponer de un total de 168 filiales, de las cuales 42 están en el extranjero.30​31​32​33​34​35​36​37​38​39​40​ El 7 de marzo se celebra el día del hincha de Racing.41​42​43​</p>
        <hr class="my-4">
        <p>El clásico e histórico rival es el Club Atlético Independiente. El partido en el que se enfrentan los dos equipos es tradicionalmente conocido como el Clásico de Avellaneda, siendo el segundo más importante de la Argentina detrás del Súperclásico y generando una gran expectativa en todo el país.47​

El primer encuentro en la Primera División, disputado el 12 de diciembre de 1915, lo ganó Independiente por 2 a 1, pero luego perdió los puntos en el tribunal de disciplina por haber incluido en su equipo erróneamente al jugador Victorio Capelletti, que estaba inhabilitado, dándole por ganado el partido a Racing.
Los dos primeros partidos disputados en el profesionalismo (1931) los ganó Racing categóricamente por goleada uno 4 a 1 y el otro por un abultado 7 a 4.
En la era amateur se jugaron 18 encuentros, con 8 victorias para Racing, 2 empates y otras 8 victorias para Independiente, con 21 goles a favor y 26 en contra.
En la era profesional jugaron 193 veces, con 53 victorias académicas, 65 empates y 75 victorias rojas, con 252 goles a favor y 298 en contra.
Desde 1915 hasta 1974, Racing Club mantuvo una amplia supremacía general en el historial sobre su rival.
Desde 1974 a la actualidad, Independiente logró mantener una diferencia a favor de 22 partidos en torneos locales.
Desde el año 2011, de los últimos 17 partidos jugados, se logró una paridad con 7 partidos ganados por Racing, 7 por Independiente y 3 empates.
Racing mantiene como récord positivo 16 partidos invicto (11 años sin perder) frente a los rojos, entre 1983 y 1994, con 4 triunfos y 12 empates.
Internacionalmente se enfrentaron en dos ocasiones, con un triunfo para Racing y un empate. Esto sucedió en la serie de ida y vuelta por la Supercopa Sudamericana 1992.
En definiciones de eliminación directa o "mano a mano", Racing supera a Independiente por 6 a 3.48​
Esta rivalidad posee el récord de cantidad de goles en un clásico: Racing 7 - Independiente 4, jugado el 27 de septiembre de 1931.
En partidos amistosos se jugaron 68 encuentros, con 22 triunfos académicos, 26 empates y 20 victorias rojas. Racing tiene un invicto de 11 encuentros sin perder (11 años).49​
La máxima goleada de Racing en el profesionalismo:

1931 Racing 7 - Independiente 4 Soccer ball.svg Fassora, De Vicenzi, Del Giudice (3), Mellone (2) (RAC) - Seoane, Porta, Cherro y Bertinoti (IND)
Otras grandes goleadas de Racing Club a su clásico rival:

1931 Independiente 1 - Racing 4 Soccer ball.svg Devicenzi (2), Fassora (2) (RAC) - Seoane (IND)
1934 Independiente 1 - Racing 3 Soccer ball.svg Del Giúdice, Barrera, Chazarreta (RAC) - Martínez (IND)
1936 Racing 4 - Independiente 2 Soccer ball.svg Barrera (2), Scopelli, Zito (RAC) - Erico (2) (IND)
1941 Racing 3 - Independiente 1 Soccer ball.svg Cáceres, Gumilla, Larretchart (RAC) - Erico (IND)
1944 Racing 4 - Independiente 2 Soccer ball.svg Reyes (3), D’Alessandro (RAC) - Erico, Paranza (IND)
1949 Independiente 2 - Racing 5 Soccer ball.svg D. Hernández, Gagliardo, Méndez, Simes (RAC) - Romay (2) (IND)
1949 Racing 3 - Independiente 0 Soccer ball.svg Méndez, Salvini, Simes (RAC)
1950 Racing 3 - Independiente 1 Soccer ball.svg Bravo, Méndez, Simes (RAC) - Lacasia (IND)
1950 Independiente 2 - Racing 4 Soccer ball.svg Bianco (3), Boyé (RAC) - González, De La Mata (IND)
1953 Racing 3 - Independiente 0 Soccer ball.svg Pizzuti (2), Blanco (RAC)
1958 Racing 4 - Independiente 1 Soccer ball.svg Manfredini (2), Corbatta, Pizzuti (RAC) - Cruz (IND)
1963 Independiente 0 - Racing 4 Soccer ball.svg San Lorenzo (2), Sosa (2) (RAC)
1967 Independiente 0 - Racing 3 Soccer ball.svg Raffo (2), Maschio (RAC)
1968 Racing 4 - Independiente 1 Soccer ball.svg Salomone (3), Basile (RAC) - Yazalde (IND)
1969 Independiente 1 - Racing 3 Soccer ball.svg Cárdenas, Cominelli, Lamelza (RAC) - Tarabini (IND)
1987 Racing 3 - Independiente 1 Soccer ball.svg Colombatti, Medina Bello, Wiktor (ec) (RAC) - Barberón (IND)
1998 Independiente 1 - Racing 3 Soccer ball.svg Bezombe, Delgado, A. Morales (RAC) - Cascini (IND)
2004 Independiente 1 - Racing 3 Soccer ball.svg G. Fernández (2), L. López (RAC) - Eluchans (IND)
2005 Racing 3 - Independiente 1 Soccer ball.svg Falcón, M. Guerrero, L. López (RAC) - Frutos (IND)
2016 Racing 3 - Independiente 0 Soccer ball.svg L. López (2), Bou (RAC)
2019 Independiente 1 - Racing 3 Soccer ball.svg Donatti, L. López, Zaracho (RAC) - Gaibor (IND)</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Mas Historia</a>
    </div>


   {{> footer }}